{% extends 'base.html' %}

  {% block body %}
  

    <main class="page blog-post">
        <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
            <div class="container"><a class="navbar-brand logo" href="#">CricBlog</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"><a class="nav-link" href="blog-post-list.html">Forum</a></li>
                        <li class="nav-item"><a class="nav-link" href="create.html">Write a new BLOG</a></li>
                        <li class="nav-item"><a class="nav-link" href="profile.html">Profile</a></li>
                        <li class="nav-item"><a class="nav-link" href="index.html">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="clean-block clean-post dark">
            <div class="container" style="padding-bottom: 16px;">
                <div class="block-content">
                    <div class="post-body" style="margin-bottom: 0px;">
                        <div class="modal fade" role="dialog" tabindex="-1" id="modal1">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" style="padding-top: 6px;padding-bottom: 7px;">Replying to&nbsp;</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    </div>
                                    <div class="modal-body"><input class="form-control-lg" type="text" style="width: 453px;box-shadow: 0px 0px;border-style: solid;border-color: var(--light);color: var(--dark);" placeholder="Enter your reply" name="reply"></div>
                                    <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><button class="btn btn-primary" type="button">Reply</button></div>
                                </div>
                            </div>
                        </div>
                        <h3>{{post['title']}}</h3>
                        <div class="post-info" style="padding-left: 4px;"><span class="text-dark" style="padding-left: -1px;">By&nbsp;<a class="text-dark" href="#">{{post['username']}}</a>&nbsp; ,&nbsp; {{post['date']}}<br></span><span class="text-dark" style="padding-left: -1px;">{{post['userrank']}}&nbsp;</span></div>
                        <figure class="figure"><img class="rounded img-fluid figure-img d-flex" src="assets/img/scenery/trophy.jpg">
                            <figcaption class="figure-caption">Lorem ipsum dolor</figcaption>
                        </figure>
                        <p style="font-size: 16px;">{{post['content']}}<br><br></p>
                        <div data-toggle="tooltip" data-bs-tooltip="" class="post-info"><span class="text-dark" data-toggle="tooltip" data-bs-tooltip="" style="width: 0px;" title="Like">&nbsp;<button class="btn btn-dark" id = "like" type="button"><i class="far fa-heart"></i>&nbsp;{{post['likes']}}</button><a class="text-dark" href="#"></a>&nbsp;&nbsp;</span><span class="text-dark" data-toggle="tooltip" data-bs-tooltip="" title="Reply">&nbsp;<a class="text-dark" data-toggle="tooltip" data-bs-tooltip="" id="trigger-modal" href="#" title="Reply"><button class="btn btn-dark" data-toggle="modal" data-target="#modal1" type="button"><i class="fa fa-reply"></i>&nbsp;{{post['replies']}}</button></a></span></div>
                    </div>
                </div>
            </div>
            <div class="container" style="padding-bottom: 16px;">
                <div class="block-content">
                    <div class="post-body" style="margin-bottom: 0px;">
                        <h3>Replies</h3>
                        <figure class="figure"></figure>
                        <div class="row">
                            <div class="col">
                                <div role="tablist" id="accordion-1">
                                    <div class="card">
                                        <div class="card-header" role="tab">
                                            <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="true" aria-controls="accordion-1 .item-1" href="#accordion-1 .item-1">Accordion Item</a></h5>
                                        </div>
                                        <div class="collapse show item-1" role="tabpanel" data-parent="#accordion-1">
                                            <div class="card-body">
                                                <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" role="tab">
                                            <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-2" href="#accordion-1 .item-2">Accordion Item</a></h5>
                                        </div>
                                        <div class="collapse item-2" role="tabpanel" data-parent="#accordion-1">
                                            <div class="card-body">
                                                <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" role="tab">
                                            <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-3" href="#accordion-1 .item-3">Accordion Item</a></h5>
                                        </div>
                                        <div class="collapse item-3" role="tabpanel" data-parent="#accordion-1">
                                            <div class="card-body">
                                                <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% endblock %} 

    {% block js %}
    <script src = "../static/assets/js/likes.js"></script>
    {% endblock %}
    