{% extends 'base.html' %} 


{% block body %}


    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">CricBlog</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="about-us.html">About the creator</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact-us.html">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="signup.html">Sign up</a></li>
                </ul>
            </div>
            <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
                <div class="container"><a class="navbar-brand logo" href="#">CricBlog</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item"></li>
                            <li class="nav-item"></li>
                            <li class="nav-item"><a class="nav-link" href="{{url_for('forum')}}">Forum</a></li>
                            <li class="nav-item"><a class="nav-link active" href="{{url_for('create')}}">Write a new BLOG</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">{{data['username']}}</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{url_for('logout')}}">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </nav>
    <main class="page product-page">
        <section class="clean-block clean-product dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-dark" style="margin-top: -25px;">Create your Blog</h2>
                </div>
                <form action = "{{url_for('publish')}}" method="POST">
                <div class="block-content" style="padding-bottom: 20px;box-shadow: 1px 3px 15px 3px var(--gray);">
                    <div class="product-info">
                        
                        <div class="row">
                            <div class="col-md-6">
                                
                                    <div class="form-group"><label>Title</label><input name = "title" class="form-control" type="text"></div>
                                    <div class="form-group"><label>Description(15 - 30 words)</label><textarea name = "description" class="form-control" style="height: 37px;"></textarea></div>
                                    <div class="form-group"><label>Tag 1</label><select name = "tag_1" class="form-control">
                                            <option value="12" selected="">This is item 1</option>
                                            <option value="13">This is item 2</option>
                                            <option value="14">This is item 3</option>
                                        </select></div>
                                    <div class="form-group"><label>Tag 2</label><select name = "tag_2" class="form-control">
                                            <option value="12" selected="">This is item 1</option>
                                            <option value="13">This is item 2</option>
                                            <option value="14">This is item 3</option>
                                        </select></div><label>Image (Optional)</label>
                                    <div class="form-group"><input type="file"></div>
                                
                            </div>
                            <div class="col">
                                
                                    <div class="form-group"><label>Main Content</label><textarea name = "content" class="form-control" style="height: 361px;"></textarea></div>
                                
                            </div>
                            <div class="col-md-6">
                                <div class="info"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: -34px;text-align: center;">
                        <div class="col"></div>
                        <div class="col">{% include "includes/_messages.html" %}<button class="btn btn-success btn-block" type="submit">Publish</button></div>
                        <div class="col"></div>
                    </div>
                </div>
            </form>
            </div>
        </section>
    </main>
    <footer class="page-footer dark" style="height: 88px;">
        <div class="footer-copyright">
            <p>© 2020 CricBlog&nbsp;</p>
        </div>
    </footer>
    {% endblock %}