{% extends 'base.html' %}

    {% block body %}

    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">CricBlog</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{{url_for('index')}}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="about-us.html">About the creator</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact-us.html">Contact</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{{url_for('login')}}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('signup')}}">Sign up</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <main class="page login-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-dark">Log In</h2>
                </div>
                <form action = "{{url_for('login')}}" method = "POST" autocomplete="off" style="border-top-style: none;box-shadow: 1px 3px 15px 3px var(--gray);">
                    <div class="form-group"><label for="email">Email</label><input class="form-control item" type="email" name = "email" id="email"></div>
                    <div class="form-group"><label for="password">Password</label><input class="form-control" type="password" name = "password" id="password"></div>
                    {% include "includes/_messages.html" %}
                    <div class="form-group">
                        <div class="form-check"><input class="form-check-input" type="checkbox" name = "remember" id="checkbox"><label class="form-check-label" for="checkbox">Remember me</label></div>
                    </div><a href="forgotpassword.html">Forgot Password ?</a>
                    
                    <button class="btn btn-info btn-block" type="submit" style="margin-top: 10px;">Log In</button>
                </form>
            </div>
        </section>
    </main>
    <footer class="page-footer dark" style="height: 88px;">
        <div class="footer-copyright">
            <p>© 2020 CricBlog&nbsp;</p>
        </div>


    {% endblock %}

